div#left {
  float: left;
  width: 600px;
}

div#right {
  float: left;
  width: 180px;
  margin-left: 20px;
  background-color: #FFEEEE;
}

div#sketch_header {
  width: 100%;
  text-align: center; 
}

input#title {
  text-align: center; 
  width: 50%;
  padding: 0px;
  font-size: large;
}

canvas#sketch {
  background-color: #EEEEEE;
  width: 100%;
  height: 400px;
}