body {
}

a img {
  border: none;
}

div#container {
  margin: 0 auto;
  width: 800px;
}

div#logo {
  margin: 0 auto;
  width: 300px;
}

div#main {
  margin-top: 10px;
  border-top: 1px solid black;
  padding-top: 5px;
}

div.clear {
  clear: both;
}

div#footer {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}