<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		
		<title>Better Draw A District</title>
		<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
		
</head>
<body id="art">
	<div id="headerWrapper">
		<div id="header">
			<div id="top">
				<span id="topleftswirl"><img src="images/img-topleft-swirl.png"/></span>
				<h1><a href="index.html">Better Draw A District</a></h1>
				<span id="toprightswirl"><img src="images/img-topright-swirl.png"/></span>
				<div class="clear"></div>
			</div> <!-- end top -->
			<div id="stage">
				<div id="canvas_container"></div>
				<div id="map_container"></div>
			</div>
			<div id="debug"></div>
			<h2>The Fighting Fifth<span>by Anonymous</span></h2>
			<div id="info">
				<span>Population Est.</span>
				<p id="popnumber">000,000,000</p>
			</div>
			<div id="awards">
				<ul>
					<li class="active">Hometown Award</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div> <!-- end header -->
	</div> <!-- end headerWrapper -->
	<div id="footerWrapper">
		<div id="footer">
			<span id="btmleftswirl"><img src="images/img-bottomleft-swirl.png"/></span>
			<h4 title="In it to win it!">©2010 Sunlight Labs Olympic Team</h4>
			<span id="btmrightswirl"><img src="images/img-bottomright-swirl.png"/></span>
			<div class="clear"></div>
		</div> <!-- end footer -->
	</div> <!-- end footerWrapper -->
	<script type="text/javascript" src="js/raphael-min.js"></script>
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.hotkeys-0.7.9.min.js"></script>
	<script type="text/javascript" src="data/states.js"></script>
	<script type="text/javascript" src="js/bdad.js"></script>
	<script type="text/javascript" src="http://use.typekit.com/jam6fyv.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->
</body>
</html>